<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Body Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container_graph">
        <h1>{{ exercise }} Progress</h1>
        <div class="graph-container">
            <img class="graph" src="data:image/png;base64,{{ plot_data }}" alt="{{ exercise }} Progress">
        </div>
        <button onclick="window.location.href='/view_progress?username={{ user.username }}'">Back to View Progress</button>
    </div>
</body>
</html>